.main-wrapper {
	width:1068px;
	margin:0 auto;
}
.header-wrapper {
	padding-top:31px;
	
	background-color:#594E4E;
}
.header-wrapper img{
	padding:0px 30px;
}
.nav-wrap{
	padding:0px 30px;
	background:url(../images/strip-header.png) bottom repeat-x;
}

.header-wrapper img.logotext {
	margin-left:14px;
}
.header-wrapper ul {
	list-style-type:none;
}
.banner-wrapper {
	background:#A49191;
	height:216px;
}
.info-wrapper {
	overflow:hidden;
	min-height:206px;
	padding:0px 30px;
	padding-top:24px;
}
.info-wrapper span.spinfo {
	display:block;
}
.info-wrapper ul {
	float:left;
	width:534px;
	list-style:none;
	padding-left:22px;
}
.info-wrapper ul li {
}
.info-wrapper ul li h1 {
	font-size:18px;
	color:#000;
	font-weight:normal;
	line-height:18px;
}
.info-wrapper ul li p {
	font-size:13px;
	color:#7F7F7F;
	font-weight:normal;
	padding:13px 0px;
	line-height:15px;
}
.info-wrapper ul li a {
	border-radius:5px;
	text-decoration:none;
	display:inline-block;
	border: 1px solid #1E6D7C;
	background-color:#2D8696;
	font-size:11px;
	font-weight:bold;
	color:#FFF;
	padding:0px 10px;
	line-height:21px;
	margin:7px 0px;
}
.info-wrapper img {
	display:block;
	background-position:top;
	float:right;
	padding:0px 6px;
}

.tab-wrapper{
	padding:0px 30px;
	clear:both;
	height:auto !important;
	height:428px;
	min-height:428px;
}
.tab-wrapper ul{
	list-style:none;
	position:relative;
}
.tab-wrapper ul li{
	float:left;
	margin:0 1px;	
}
.tab-wrapper ul li.active{
	margin-top:6px;
	margin-right:2px;
}

.tab-wrapper ul li a{
	text-align:center;
	width:193px;
	line-height:44px;
	background-color:#3D8896;
	font-size:12px;
	text-decoration:none;
	display:block;
	color:#FFF;
		
}
.tab-wrapper ul li ul{
	display:none;
}
.tab-wrapper ul li.active ul{
	width:1008px;
	position:absolute;
	top:-1;
	left:0;
	display:block;
	margin:0px;
	background:url(../images/img_strip.png) no-repeat;
}
.tab-wrapper ul li.active ul li{
	width:280px;
	font-size:12px;
	color:#FFF;
	padding:0px 27px; 
	padding-bottom:40px;
	background:url(../images/img_strip.png) 0 100% no-repeat;
	margin:0px;
		
}
.tab-wrapper ul li.active ul li img{
	margin-top:22px;
		
}
.tab-wrapper ul li.active ul li h1{
	font-size:14px;
	font-weight:normal;
	color:#000000;
	margin:5px 0px;
		
}

.tab-wrapper ul li.active ul li p{
	font-size:14px;
	font-weight:normal;
	color:#7F7F7F;
	font-size:13px;
	margin-bottom:30px;
		
}
.tab-wrapper ul li.active ul li span{
	background:url(../images/left-but.png) 0 0 no-repeat;
	display:block;
	padding-left:3px;	
}
.tab-wrapper ul li.active ul li span.rt{
	background:url(../images/right-but.png) right 0 no-repeat;
	padding-left:3px;	
}
.tab-wrapper ul li.active ul li span a{
	
	background:none;
	background:url(../images/mid-but.png) repeat-x;
	width:63px;
	font-size:10px;
	font-weight:bold;
	line-height:22px;
	color:#FFF;
}



span.strip{
display:block;
height:3px;
background-color:#000099;	
}


.footer-wrapper {
	clear:both;
}
.footer-top-wrapper{
	clear:both;
	border-top: 1px solid #b2b2b2;
	padding:41px 29px 0px 60px;
	background:url(images/footer_strip.png) repeat-x;
}
.footer-wrapper p {
	
	font-size:16px;
	letter-spacing:0.7px;
	margin-bottom:23px;
}

.footer-top {
	padding-top:22px;
	border-top:2px #3794A5 solid;
	min-height:162px;
}
.footer-top ul{
	
	list-style:none;
}
.footer-top ul li{
	width:221px;
	float:left;
	margin-right:23px;
}

.footer-top ul li span img{
	float:left;
}
.footer-top ul li h1{
	margin-left:41px;
	font-family:Tahoma;
	font-size:10px;
	line-height:8px;
	margin-bottom:7px;
}
.footer-top ul li p{
	margin-left:41px;
	font-family:Tahoma;
	font-size:10px;
}
.footer-mid {
}
.footer-mid ul {
	list-style:none;
	padding-top:4px;
	padding-bottom:6px;
	padding-left:49px;
	border-bottom:2px solid #DBDBDB;
}
.footer-mid ul li {
	float:left;
	height:20px;
	padding:0px 10px;
	border-left:1px dashed #BFBFBF;
}
.footer-mid ul li:first-child {
	border-left:0px;
}
.footer-mid ul li:last-child a {
	color:#2D8696;
}
.footer-mid ul li a {
	text-decoration:none;
	font-size:11px;
	color:#666666;
}
.footer-bottom {
	min-height:370px;
	position:relative;
	background:url(../images/footer-strip.png) repeat-x;
}
.goodify img, .ul-drop li img {
	margin-right:5px;
}
.goodify {
	font-size:12px;
	height:17px;
	padding-top:3px;
	padding-bottom:3px;
	width:135px;
	padding-left:10px;
	background:url(../images/arrow-left.png) top right no-repeat;
	cursor:pointer;
}
.ul-drop {
	list-style:none;
	position:absolute;
	min-width:141px;
	cursor:pointer;
	font-size:12px;
	background-color:#CCCCCC;
}
.ul-drop li {
	padding-left:10px;
	padding-top:6px;
	padding-bottom:6px;
}
.ul-drop li:hover {
	background-color:#999999;
}
.parent-good{
	float:left;	
	margin-top:18px;
	margin-left:55px;
}
.footer-bottom ul{
	list-style:none;
	float:right;	
	margin-right:30px;
}
.footer-bottom ul.bottom li{
	float:left;	
	border-left:1px dotted #4C4C4C;
	margin-top:18px;
	padding:0px 10px;
}
.footer-bottom ul.bottom li:first-child{
	border:0px;
}
.footer-bottom ul.bottom li:last-child{
	padding-right:0px;
}
.footer-bottom ul.bottom li a{
	text-decoration:none;
	color:#4C4C4C;
	font-size:10px;	
	font-family:"Courier New", Courier, monospace;
}
.footer-bottom span.copy-right{
	float:right;
	color:#868686;
	font-family:"Courier New", Courier, monospace;
	font-size:11px;	
	margin-right:30px;
}
