/* CSS Document */
*{
	padding:0px;
	margin:0px;	
	font-family:Arial, Helvetica, sans-serif;
}
.clear{
	clear:both;
}


.cfix:before, .cfix:after {
	content:"";
	display:table;
}
.cfix:after {
	clear:both;
}

/*.cfix {
	zoom:1;
}*/ /*IE6&7*/




