/* CSS Document */
.body-wrapper{
	width:1008px;
	background-color:#999999;
	margin:0 auto;
	padding:20px 30px;
}


.slider-wrapper{
	overflow:hidden;
	height:190px;
	background-color:#FF0000;	
	position:relative;
}
.slider-wrapper ul{
	list-style:none;
	width:9000px;
	font-size: 0;
	left:0px;
	position:absolute;
}

.slider-wrapper ul li{
	float:left;
	background-color:#009966;
	padding:0px !important;	
}
.slider-wrapper ul li img{
	
	background-color:#000033;
}
.pink-div{
	height:69px;
	position:absolute;
	opacity:0.8;
	background-color:#F4609B;
	border-bottom:#D73C77 1px solid;
	bottom:0;
	width:1008px;	
}
.text-div{
	line-height:69px;
	position:absolute;
	bottom:0;	
	width:1008px;
	height:69px;
	padding-left:15px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:36px;
	color:#FFFFFF;
}

.simage-wrapper{
	margin:0 auto;
	width:1008px;
	height:190px;
	overflow:hidden;
	position:relative;	
}
.image-wrapper ul{
	width:3600px;
	list-style:none;
	position:absolute;
	left:0px;
	margin-left:0px;
		
}
.image-wrapper ul li{
	float:left;	
	width:1008px;
}
.image-wrapper ul li img{
	width:1008px;	
}
.prev{
	width:65px;
	position:absolute;
	height:65px;
	background:url(../images/prev_disabled.png) no-repeat;
	left:5px;
	top:33.5px;
}

.next{
	width:65px;
	height:65px;
	background:url(../images/next.png) no-repeat;
	position:absolute;
	left:75px;
	top:33.5px;
}
.ind_wrapper{
	position:absolute;
	z-index:50;
	margin: 0 auto;
	bottom:5px;
	left:400px;
}
.indicator{
	cursor:pointer;
	width:10px;
	height:10px;
	margin-right:20px;
	background-color:#000000;
	float:left;
	border:1px solid #FFF;
}
.indicator_sel{
	
	width:10px;
	height:10px;
	margin-right:20px;
	background-color:#FFF;
	float:left;
	border:1px solid #FFF;
}
.wrp{
	width:1000px;
	margin:0 auto;
}
.box1{
	height:100px;
	width:100px;
	background-color:#333333;	
}

.circle{
	width:100px;
	height:100px;
	background-color:#000000;
	border-radius:50px;	
	border:1px solid #9F3;
	position:absolute;
}