/* CSS Document */

.opacity-background{
	height:535px;
	width:100%;
	position:absolute;
	left:0;
	top:-13px;
	background-color:#A49191;
	opacity:0.3;
}
.light-box img{
	width:1008px;
	height:465px;		
	position:absolute;
	top:30px;
	right:30px;
}
.cancel-button{
	height:26px;
	width:23px;
	position:absolute;
	top:0px;
	right:5px;
	background:url(../images/cancel.png) 0 0 no-repeat;
}